h1{
    text-align: center;
    color:#555;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;
}
h2{
    text-align: center;
    color:red;

}
h3{
    text-align: center;
    color:blue;

}
table, th, td{        
    background-color:#97DB9A;
    border: 1px solid;
    margin: auto;
}