h1{
    text-align: center;
    color:#555;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;
}
h2{
    text-align: center;
    color:red;

}
h3{
    text-align: center;
    color:blue;

}
table, th, td{        
    background-color:#97DB9A;
    border: 1px solid;
    margin: auto;
}
img {
    width: 500px;
    height: 300px;
    text-align: center;
}
* {
    box-sizing: border-box;
}


.container {
    padding: 16px;
    background-color: white;
    width: 500px;
    margin: auto;    
}


input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

.registerbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.registerbtn:hover {
    opacity: 1;
}


a {
    color: dodgerblue;
}
